body{
  font-family: Montserrat;
  margin: 0;
}


h1{
  font-size: 3em;
  text-transform: uppercase;
}

hr{
  margin-left: 37em;
  width: 20%;
  color: rgb(0,219,146);
}

.jumbotron{
  padding-bottom: 1em;
}

.container{
  margin-bottom: 5em;
}

.jumbo-header{
  background-color:white;
  color: rgb(0,219,146);
  text-align: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.subheading{
  font-size: 1.5em;
  margin-bottom: 2em;
  text-transform: uppercase;
  color: rgb(179,179,179);
  font-weight: bold
}

p{
  font-size: 1.2em;
  line-height: 1.4em;
}

.page-enter-active {
  animation: bounce-in .8s;
}
.page-leave-active {
  animation: bounce-out .5s;
}
@keyframes bounce-in {
  0% { transform: scale(0.9); opacity: 0; }
  100% { transform: scale(1); opacity: 1; }
}
@keyframes bounce-out {
  0% { transform: scale(1); opacity: 1; }
  100% { transform: scale(0.9); opacity: 0; }
}